{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
        {{ form_row(form.company) }}
        {{ form_row(form.startDate) }}
        {{ form_row(form.endDate) }}
        {{ form_row(form.email) }}
        {{ form_rest(form) }}

        <div>
            <button type="submit">Submit</button>
        </div>
    {{ form_end(form) }}
{% endblock %}
